.page__benefits {
  margin-bottom: clamp(40px, 8vw, 160px);
  position: relative;
}

.benefits__title_block {
  margin-bottom: 49px;
  text-align: center;
}

.benefits__title {
  margin-bottom: 32px;
}

.benefits__text {
  color: var(--color-text);
  line-height: 1;
}

.benefits__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 20px;
}

.item-benefits {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-benefits:nth-of-type(1).show {
  transition-delay: 0.2s;
}

.item-benefits:nth-of-type(2).show {
  transition-delay: 0.4s;
}

.item-benefits:nth-of-type(3).show {
  transition-delay: 0.6s;
}


.item-benefits__icon_block,
.item-benefits__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.item-benefits__icon_block {
  margin-bottom: 21px;
  width: 122px;
  height: 122px;
  background-color: var(--color-accent-light);
}

.item-benefits__icon {
  width: 60.66%;
  height: 60.66%;
  background-color: rgba(2, 86, 229, 0.1);
}
.item-benefits__title {
  color: var(--color-blue);
  font-weight: 700;
  margin-bottom: 24px;
}
.item-benefits__text {
  color: var(--color-text);
  line-height: 1.5;
  text-align: center;
}


@media (min-width: 689.98px) {
  .item-benefits__text {
    max-width: 360px;
  }
}

@media (max-width: 689.98px) {
  .benefits__title_block {
    margin-bottom: 30px;
  }

  .benefits__title {
    margin-bottom: 20px;
  }

  .benefits__items {
    grid-template-columns: auto;
    justify-content: center;
  }

  .item-benefits__icon_block {
    width: 70px;
    height: 70px;
  }

  .item-benefits:nth-of-type(1).show {
  transition-delay: 0.1s;
}

.item-benefits:nth-of-type(2).show {
  transition-delay: 0.2s;
}

.item-benefits:nth-of-type(3).show {
  transition-delay: 0.3s;
}

}
