@font-face {
  font-family: 'FuturaRound';
  src: url('../fonts/a_FuturaRound-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'FuturaRound';
  src: url('../fonts/afuturaroundbold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
[class*='__container'] {
  max-width: 1190px;
  width: 100%;
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
}

[id] {
  scroll-margin-top: 116px;
}

:root {
  --color-white: #ffffff;
  --color-text: #282d30;
  --color-blue: #0256e5;
  --color-blue-hover: #0049c8;
  --color-yellow: #eee711;
  --color-yellow-hover: #d8d102;
  --color-accent-light: #caddff;
  --color-light-blue: #4d8fff;
}

body {
  font-family: 'FuturaRound';
  font-weight: 400;
  color: var(--color-text);
  box-sizing: border-box;
  font-size: 16px;
}
@media (max-width: 899.98px) {
  body.lock {
    overflow: hidden;
  }
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.title {
  font-size: clamp(25px, 2.5vw, 32px);
  font-weight: 700;
  color: var(--color-text);
  line-height: auto;
}

.title--white,
.text--white {
  color: var(--color-white);
}

.btn__link {
  font-size: 16px;
  display: block;
  background-color: var(--color-blue);
  line-height: 1;
  color: var(--color-white);
  border-radius: 60px;
  text-align: center;
  transition: 0.3s background-color;
  border: 6px solid var(--color-accent-light);
  box-sizing: border-box;
}

.link__btn {
  border-radius: 40px;
  padding: 20px 25px;
  color: var(--color-text);
  transition: 0.3s background-color;
  text-align: center;
  border: 6px solid var(--color-light-blue);
  box-sizing: border-box;
}

.link-btn--yellow {
  background-color: var(--color-yellow);
}
.link-btn--yellow:hover {
  background-color: var(--color-yellow-hover);
}

.btn__link:hover {
  background-color: var(--color-blue-hover);
}

.text--bold {
  font-weight: 700;
}

.decor {
  position: absolute;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  width: 35%;
  margin-left: -50px;
}

.decor--btn {
  bottom: -25%;
}

.decor--btn-right {
  bottom: -25%;
  right: 0;
  left: auto;
}

.decor__ceil {
  border: 1px solid var(--color-accent-light);
  width: 100%;
  max-width: 97.62px;
  height: 100px;
  opacity: 0.2;
  background-color: transparent;
  animation: highlight 3s linear infinite;
  animation-fill-mode: forwards;
}

.decor__ceil:nth-child(1)  { animation-delay: 0s; }
.decor__ceil:nth-child(2)  { animation-delay: 0.25s; }
.decor__ceil:nth-child(3)  { animation-delay: 0.5s; }
.decor__ceil:nth-child(4)  { animation-delay: 0.75s; }
.decor__ceil:nth-child(5)  { animation-delay: 1s; }
.decor__ceil:nth-child(6)  { animation-delay: 1.25s; }
.decor__ceil:nth-child(7)  { animation-delay: 1.5s; }
.decor__ceil:nth-child(8)  { animation-delay: 1.75s; }
.decor__ceil:nth-child(9)  { animation-delay: 2s; }
.decor__ceil:nth-child(10) { animation-delay: 2.25s; }
.decor__ceil:nth-child(11) { animation-delay: 2.5s; }
.decor__ceil:nth-child(12) { animation-delay: 2.75s; }

@keyframes highlight {
  0%   { background-color: var(--color-accent-light); }
  8%   { background-color: var(--color-accent-light);   }
  10%  { background-color: transparent; }
  100% { background-color: transparent; }
}

.bg--yellow {
  background-color: #f4ee45;
}

.bg--blue {
  background-color: #1864f4;
}


@media (max-width: 1024px) {
  .decor {
    margin-left: 0px;
  }
}

@media (max-width: 899.98px) {
  .decor {
    display: none;
  }

  .title {
    text-align: center;
  }
}

@media (max-width: 499px) {
  .btn__link,
  .link__btn {
    width: 100%;
  }
}
